* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "poppins";
  font-style: normal;
  font-weight: 300;
  display: flex;
  text-align: center;
  padding: 0.6%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
}
header .container-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 2px;
  gap: 30px;
}
header ul a {
  text-decoration: none;
  color: #4B5563;
}
header button {
  background-color: #16A34A;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 8px;
  font-family: "poppins";
  margin-bottom: 10px;
}
header img {
  width: 13vw;
  height: 5vh;
}

.introducao {
  display: flex;
  font-family: "inter";
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.introducao h1 {
  color: #1F2937;
  font-weight: bold;
  font-size: 3rem;
}
.introducao h2 {
  color: #4B5563;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
}
.introducao .botoes {
  display: flex;
  justify-content: initial;
  gap: 30px;
  font-family: "poppins";
}
.introducao .botoes #doar {
  width: 180px;
  background-color: #16A34A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 8px;
  font-family: "poppins";
}
.introducao .botoes #adquirir {
  width: 180px;
  background-color: white;
  color: #2563EB;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border: 1px solid #2563EB;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 8px;
  font-family: "poppins";
}

.dados {
  background-color: #f3f5f8;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.dados h2 {
  font-family: "poppins";
  color: #16a34a;
  font-size: 35px;
}
.dados p {
  color: #4B5563;
  font-family: "poppins";
  font-weight: 200;
}
.dados div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.function {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.function h2 {
  color: #1F2937;
  font-family: "poppins";
  font-size: 2rem;
  padding: 5px;
}
.function h3 {
  color: #4B5563;
  font-family: "inter";
  font-weight: 300;
  padding: 5px;
}

.beneficios {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
.beneficios .doadores {
  width: 470px;
  height: 400px;
  background-color: #F3F5F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.beneficios .doadores h3 {
  font-family: "inter";
  font-weight: 400;
  color: #16a34a;
  display: flex;
  align-items: center;
  gap: 10px;
}
.beneficios .doadores h4 {
  font-family: "inter";
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 5px;
}
.beneficios .doadores ol {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "poppins";
  font-weight: bold;
  font-size: 14px;
}
.beneficios .doadores ol P {
  font-weight: 300;
  font-size: 14px;
}
.beneficios .adquirentes {
  width: 470px;
  height: 400px;
  background-color: #F3F5F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.beneficios .adquirentes h3 {
  font-family: "inter";
  font-weight: 400;
  color: #2563EB;
  display: flex;
  align-items: center;
  gap: 10px;
}
.beneficios .adquirentes h4 {
  font-family: "inter";
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 5px;
}
.beneficios .adquirentes ol {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "poppins";
  font-weight: bold;
  font-size: 14px;
}
.beneficios .adquirentes ol P {
  font-weight: 300;
  font-size: 14px;
}

.disponiveis {
  background-color: #F3F5F8;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.disponiveis .title-produtos {
  margin-left: 20px;
  margin-right: 20px;
}
.disponiveis .title-produtos h2 {
  color: #1F2937;
  font-family: "poppins";
  font-size: 2rem;
  padding: 5px;
}
.disponiveis .title-produtos h3 {
  color: #4B5563;
  font-family: "inter";
  font-weight: 300;
  padding: 5px;
}
.disponiveis .produtos {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.disponiveis .produtos h4 {
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.disponiveis .produtos p {
  font-family: "poppins";
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 20px;
}
.disponiveis .produtos button {
  display: flex;
  justify-content: center;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
  border-radius: 5px;
  background-color: #16A34A;
  color: white;
  font-family: "poppins";
}
.disponiveis .produtos .fones {
  border: 2px solid #16A34A;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-bottom: 20px;
}
.disponiveis .produtos .fones img {
  width: 100%;
}
.disponiveis .produtos .notebooks {
  border: 2px solid #16A34A;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
}
.disponiveis .produtos .notebooks img {
  width: 100%;
}
.disponiveis .produtos .smartphones {
  border: 2px solid #16A34A;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
}
.disponiveis .produtos .smartphones img {
  width: 100%;
}

.comentario {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comentario h2 {
  color: #1F2937;
  font-family: "poppins";
  font-size: 2rem;
  padding: 5px;
}
.comentario h3 {
  color: #4B5563;
  font-family: "inter";
  font-weight: 300;
  padding: 5px;
  margin-bottom: 40px;
}
.comentario .comentarios {
  display: flex;
  justify-content: space-around;
}
.comentario .star {
  width: 100px;
}
.comentario .coments {
  width: 250px;
  border: 1px solid #c9c9c9;
  border-left: 2px solid #5e5e5e;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.comentario .user {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.comentario .user img {
  width: 40px;
  height: 40px;
}
.comentario .nome-user {
  font-weight: 600;
  color: #1F2937;
}
.comentario .nomes {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 400;
  color: #4B5563;
}
.comentario p {
  font-family: "poppins";
  font-size: 13px;
}

.saiba-mais {
  background-color: #F3F5F8;
  margin-top: 50px;
  padding: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.saiba-mais h2 {
  color: #1F2937;
  font-family: "poppins";
  font-size: 2rem;
  padding: 5px;
}
.saiba-mais h3 {
  color: #4B5563;
  font-family: "inter";
  font-weight: 300;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 20px;
}
.saiba-mais .btn {
  display: flex;
  align-items: center;
  gap: 30px;
}
.saiba-mais .btn .comecar {
  width: 150px;
  background-color: #16A34A;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-family: "poppins";
}
.saiba-mais .btn .mais {
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #16A34A;
  color: #16A34A;
  padding: 10px;
  border-radius: 8px;
  font-family: "poppins";
}

footer {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
footer .rodape {
  display: flex;
  gap: 50px;
}
footer .logo_branco {
  width: 120px;
  padding-bottom: 13px;
}
footer h5 {
  font-family: "inter";
  font-weight: bold;
  color: white;
  padding-bottom: 13px;
}
footer p {
  font-family: "poppins";
  font-size: 12px;
  color: #4B5563;
}
footer ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
}
footer ul a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 12px;
  color: #4B5563;
}
footer .redes-sociais {
  display: flex;
  justify-content: start;
  padding-top: 10px;
  gap: 10px;
}

@media (max-width: 1000px) {
  header img {
    width: 100px;
    height: 25px;
  }
  .beneficios {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
}
@media (max-width: 920px) {
  header {
    flex-direction: column;
  }
  header .container-menu {
    display: flex;
    justify-content: space-between;
  }
  header img {
    width: 100px;
    height: 25px;
  }
  .introducao {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .introducao .intro {
    align-items: center;
  }
  .introducao .intro .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .disponiveis .produtos {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .comentarios {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  header {
    margin-bottom: 20px;
  }
  header .container-menu {
    display: flex;
    flex-direction: column;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h2 {
    font-size: 1rem;
  }
  .introducao .reciclagem-inicio {
    width: 300px;
  }
  .dados h2 {
    font-size: 20px;
  }
  .dados p {
    font-size: 10px;
  }
  .saiba-mais h3 {
    padding: 10px;
  }
  footer .rodape {
    flex-direction: column;
  }
  .beneficios .doadores {
    width: 400px;
  }
  .beneficios .adquirentes {
    width: 400px;
  }
}/*# sourceMappingURL=style.css.map */